* {
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
}

body {
    padding: 10px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

li {
    margin: 0 8px 0 8px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

#google-apps-icon {
    
}